*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
}

nav{
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    background-color: rgb(84, 87, 84);
    padding-left: 200px;
    padding-right: 200px;
}

nav div{
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 15px;
    margin: 0 auto;
    color: rgb(168, 166, 166);
    width: 100%;
    min-width: 100px;
}

i{
    margin: 0 auto;
    font-size: 2em;
}

p{
    margin-top: 10px;
}

nav div:hover{
    color: white;
    cursor: pointer;
}
